
body {
    background: #fcfef9;
}

video {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

.MAIN {
    display: grid;
    margin: 0 auto;
    justify-content: center;
    width: 1280px;
    height: auto;
}

.HEADER {
    display: grid;
    margin: 0 auto;
    justify-content: center;
    width: 1280px;
    height: 900px;
}

.background {
    justify-self: center; 
    grid-area: 1 / 1;
}

.background > img {
    object-fit: cover;
    width: 800px;
    max-height: 100%;
}

.box-link { 
    grid-area: 1 / 1;
    position: relative; 
    background-color: transparent; 
    border: 0px solid yellow; 
}

a.box-link:hover { 
	text-decoration: none; 
	color: blue;
	background-color: none; 
}

.GERBS {
    margin: 10% 3%;
    grid-area: 1 / 1;
}

.GERBS > img {
    object-fit: cover;
    width: 400px;
    max-height: 100%;
}

.IIEPS {
    margin: 8% 3%;
    justify-self: right;
    grid-area: 1 / 1;
}

.IIEPS > img {
    object-fit: cover;
    width: 320px;
    max-height: 100%;
}

.NORLI{
    margin: 600px 0px;
    grid-area: 1 / 1;
}

.NORLI > img {
    object-fit: cover;
    width: 200px;
    max-height: 100%;
}

.MOON{
    margin: 650px 300px;
    grid-area: 1 / 1;
}

.MOON > img {
    width: 200px;
    max-height: 100%;
}

.RELINQUISH {
    justify-self: right;
    margin: 650px 20px;
    grid-area: 1 / 1;
}

.RELINQUISH > img {
    width: 200px;
    max-height: 100%;
}



.DSP_CONTAINER {
    position: relative;
    max-width: 800px; 
    flex: center;
    margin: auto; 
}

.DSP_ALBUM_IN_F {
    float: left;
    padding: 0px;
    position: relative; 
    margin: 0 auto;
    width: 400px;
    height: 400px;
    background-image: url(IMAGES/ALBUM_IN_F_400.jpg);
}

.DSP_WaT {
    float: left;
    padding: 0px;
    position: relative; 
    margin: 0 auto;
    width: 400px;
    height: 400px;
    background-image: url(IMAGES/WaT_400.jpg);
}

.NORLI_CONTAINER {
    position: relative;
    max-width: 800px; 
    flex: center;
    margin: auto; 
}

.NORLI_I {
    float: left;
    padding: 0px;
    position: relative; 
    margin: 0 auto;
    width: 200px;
    height: 200px;
    background-size: 100%;
    background-image: url(IMAGES/SOLD_40.png);
}

.NORLI_II {
    float: left;
    padding: 0px;
    position: relative; 
    margin: 0 auto;
    width: 200px;
    height: 200px;
    background-size: 100%;
    background-image: url(IMAGES/SOLD_40.png);
    background-blend-mode: overlay;
}

.NORLI_III {
    float: left;
    padding: 0px;
    position: relative; 
    margin: 0 auto;
    width: 200px;
    height: 200px;
    background-size: 100%;
    background-image: url(IMAGES/NORLI_ETH_3_A50.png);
    background-blend-mode: overlay;
}

.NORLI_IV {
    float: left;
    padding: 0px;
    position: relative; 
    margin: 0 auto;
    width: 200px;
    height: 200px;
    background-size: 100%;
    background-image: url(IMAGES/NORLI_ETH_4_A50.png);
    background-blend-mode: overlay;
}

.NORLI_V {
    float: left;
    padding: 0px;
    position: relative; 
    margin: 0 auto;
    width: 200px;
    height: 200px;
    background-size: 100%;
    background-image: url(IMAGES/NORLI_ETH_5_A50.png);
    background-blend-mode: overlay;
}

.NORLI_VI {
    float: left;
    padding: 0px;
    position: relative; 
    margin: 0 auto;
    width: 200px;
    height: 200px;
    background-size: 100%;
    background-image: url(IMAGES/NORLI_ETH_6_A50.png);
    background-blend-mode: overlay;
}


.NORLI_VII {
    float: left;
    padding: 0px;
    position: relative; 
    margin: 0 auto;
    width: 200px;
    height: 200px;
    background-size: 100%;
    background-image: url(IMAGES/NORLI_ETH_7_A50.png);
    background-blend-mode: overlay;
}

.NORLI_VIII {
    float: left;
    padding: 0px;
    position: relative; 
    margin: 0 auto;
    width: 200px;
    height: 200px;
    background-size: 100%;
    background-image: url(IMAGES/NORLI_ETH_8_A50.png);
    background-blend-mode: overlay;
}


.GERBS_CONTAINER {
    position: relative;
    max-width: 800px; <!-- DEFINES TILING -->
    flex: center;
    margin: auto; <!-- REQUIRED OR THE TEXT GOES LEFT ALIGNED -->
}

.GERBS_SOLD {
    float: left;
    padding: 0px;
    position: relative; 
    margin: 0 auto;
    width: 160px;
    height: 160px;
    background-size: 100%;
    background-image: url(IMAGES/SOLD_40.png);
}

.GERBS_SALE {
    float: left;
    padding: 0px;
    position: relative; 
    margin: 0 auto;
    width: 160px;
    height: 160px;
    background-size: 100%;
    background-image: url(IMAGES/GERBS_ETH_42_A50.png);
}

.WaT_CONTAINER {
    position: relative;
    max-width: 800px; <!-- DEFINES TILING -->
    flex: center;
    margin: auto; <!-- REQUIRED OR THE TEXT GOES LEFT ALIGNED -->
}

.WaT_SOLD {
    float: left;
    padding: 0px;
    position: relative; 
    margin: 0 auto;
    width: 160px;
    height: 160px;
    background-image: url(IMAGES/WaT_160.jpg), url(IMAGES/SOLD_WaT.png);
    background-blend-mode: overlay;
}

.WaT_SALE {
    float: left;
    padding: 0px;
    position: relative; 
    margin: 0 auto;
    width: 160px;
    height: 160px;
    background-image: url(IMAGES/WaT_160.jpg);
}

.WaT_SALE_16 {
    float: left;
    padding: 0px;
    position: relative; 
    margin: 0 auto;
    width: 160px;
    height: 160px;
    background-image: url(IMAGES/WaT_160.jpg), url(IMAGES/WaT_ETH_16_A50.png);
    background-blend-mode: overlay;
}

.WaT_SALE_32 {
    float: left;
    padding: 0px;
    position: relative; 
    margin: 0 auto;
    width: 160px;
    height: 160px;
    background-image: url(IMAGES/WaT_160.jpg), url(IMAGES/WaT_ETH_32_A50.png);
    background-blend-mode: overlay;
}

.WaT_SALE_42 {
    float: left;
    padding: 0px;
    position: relative; 
    margin: 0 auto;
    width: 160px;
    height: 160px;
    background-image: url(IMAGES/WaT_160.jpg), url(IMAGES/WaT_ETH_42_A50.png);
    background-blend-mode: overlay;
}


.WaT_SALE_64 {
    float: left;
    padding: 0px;
    position: relative; 
    margin: 0 auto;
    width: 160px;
    height: 160px;
    background-image: url(IMAGES/WaT_160.jpg), url(IMAGES/WaT_ETH_64_A50.png);
    background-blend-mode: overlay;
}


.WaT_SALE_128 {
    float: left;
    padding: 0px;
    position: relative; 
    margin: 0 auto;
    width: 160px;
    height: 160px;
    background-image: url(IMAGES/WaT_160.jpg), url(IMAGES/WaT_ETH_128_A50.png);
    background-blend-mode: overlay;
}

.WaT_SALE_256 {
    float: left;
    padding: 0px;
    position: relative; 
    margin: 0 auto;
    width: 160px;
    height: 160px;
    background-image: url(IMAGES/WaT_160.jpg), url(IMAGES/WaT_ETH_256_A50.png);
    background-blend-mode: overlay;
}

.WaT_SALE_512 {
    float: left;
    padding: 0px;
    position: relative; 
    margin: 0 auto;
    width: 160px;
    height: 160px;
    background-image: url(IMAGES/WaT_160.jpg), url(IMAGES/WaT_ETH_512_A50.png);
    background-blend-mode: overlay;
}

.row {
    display: flex;
    justify-self: center;
    justify-content: center;
    width: 810px;
}

.column {
    display: flex;
    justify-content: center;
    flex: 33.33%;
    padding: 0px;
}

#player{
    width: 100%;
}
